.header-container{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
}



.header-container-img{
    height: 100px;
    display: flex;
    padding-left: 20px;
}

.header-container-img img{
    width: auto;
    object-fit: contain;
    border-radius: 100px;

}

.header-container-links{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container-links a{
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.header-container-btn{
    position: fixed;
    right: 0;
    padding-right: 20px;
}

.header-container-btn a{
    font-size: 2.5rem;
    margin: 5px;
    cursor: pointer;
}

.header-search-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%) translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 0.3s, 
        transform 0.3s cubic-bezier(0.4, 0, 0.2,1);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

.header-search-input.visible{
    opacity: 1;
    transform: translate(-50%, -50%) translateX(0);
    pointer-events: auto;
}