.header-container{
    border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white;
    height: 120px;
    display: flex;
    flex-direction: row;
}

