* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita scroll horizontal si la imagen es muy grande */
}

.home_page_container{
    width: 100%;
    max-width: none;
}

.img-container{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    object-fit:contain;
    object-position: center;
    max-width: 100%;
}

.home-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    color: yellow;
}


