.user-menu-modal {
    position: fixed;
    top: 80px;
    right: 40px;
    color: #000;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    padding: 24px;
    z-index: 3000;
    min-width: 200px;
    height: 250px;
    width: 220px;
}

.user-menu-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-modal-container {
    margin-bottom: 12px;
}

.user-modal-container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-modal-container-btn button {
    border-radius: 6px;
    border: none;
    background: #222;
    color: #fff;
    cursor: pointer;
    height: 40px;  
    width: 150px;
}

.user-modal-container-btn button:hover {
    background: rgb(65, 65, 65);
    border-color: black;
}

.user-modal-container-btn a{
    text-decoration: none;
    color: white;
}

.user-modal-login-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-modal-login-logout button{
    border-radius: 6px;
    border: none;
    background: #222;
    color: #fff;
    cursor: pointer;
    height: 40px;  
    width: 150px;
}

.user-modal-login-logout button:hover{
    background: rgb(65, 65, 65);
    border-color: black;
}

.user-modal-login-logout a {
    text-decoration: none;
    color: white;
}

